body {
  margin: 0;
  padding: 0;
  background: #a3a1a1;
  font-family: Trebuchet MS, sans-serif;
}
.header {
  background-color: #f5674e;
  color: white;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 100%;
}
.header-sm {
  font-family: Trebuchet MS, sans-serif;
  color: black;
  padding: 1rem;
  text-align: center;
}
* {
  box-sizing: border-box;
}
.content-space {
  border-radius: 8px;
  text-align: center;
}
#flagButton {
  background-color: blueviolet;
  color: whitesmoke;
}
.button {
  padding: 10px;
  font-weight: 800;
  font-size: 17px;
  font-family: 'Trebuchet MS';
  border-radius: 5%;
  float: center;
}
#quizButton {
  background-color: rgb(155, 101, 206);
  color: whitesmoke;
  width: 130px;
  margin: 14px;
}
#quizzer {
  width: 10em;
  margin: 2% auto;
  float: none;
}
.box {
  background: rgb(255, 255, 255);
  margin: 2rem;
  border-radius: 8px;
  text-align: center;
}
#content {
  color: whitesmoke;
}
#quizzerSubmit {
  background-color: #f5674e;
  border-color: #f5674e;
  color: whitesmoke;
}
