body {
  margin: 0;
  padding: 0;
  background: #a3a1a1;
  font-family: 'Trebuchet MS', sans-serif;
}
@font-face {
  font-family: Cotton Butter;
  src: url('../fonts/CottonButter.ttf');
}
.header {
  font-family: Cotton Butter;
  font-weight: 300;
  font-size: 29px;
  background-color: #485683;
  color: white;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 100%;
}
.header-sm {
  font-family: 'Trebuchet MS', sans-serif;
  color: black;
  padding: 1rem;
  text-align: center;
}
* {
  box-sizing: border-box;
}
.flags {
  margin: 1.3em 1.3em -1.7em 1.3em;
}
.content-space {
  border-radius: 8px;
  text-align: center;
  padding: 1rem;
}
#quizButton {
  background-color: rgb(226, 83, 39);
  color: whitesmoke;
}
#quizButton:hover {
  background-color: rgb(102, 40, 21);
  color: whitesmoke;
}
#flagButton {
  background-color: rgb(43, 53, 139);
  color: whitesmoke;
  text-overflow: none;
  white-space: nowrap;
}
#flagButton:hover {
  background-color: rgb(80, 88, 163);
  color: whitesmoke;
}
.button {
  padding: 10px;
  font-weight: 800;
  font-size: 17px;
  font-family: 'Trebuchet MS', sans-serif;
  border-radius: 5%;
  float: center;
  width: 150px;
  margin: 14px;
}

#quizzer {
  width: 10em;
  margin: 2% auto;
  float: none;
}
.box {
  background: rgb(255, 255, 255);
  margin: 2rem;
  border-radius: 8px;
  text-align: center;
}
#content {
  color: whitesmoke;
}
.quizButtons {
  background-color: rgb(43, 53, 139);
  border-color: rgb(43, 53, 139);
  color: whitesmoke;
  margin: 0.2em;
}
.quizButtons:hover {
  background-color: rgb(78, 84, 141);
  border-color: rgb(78, 84, 141);
  color: whitesmoke;
}
